[submodule "lib/forge-std"]
  branch = "master"
  path = "lib/forge-std"
  url = "https://github.com/PaulRBerg/forge-std"
[submodule "lib/prb-contracts"]
  branch = "v5"
  path = "lib/prb-contracts"
  url = "https://github.com/PaulRBerg/prb-contracts"
[submodule "lib/prb-test"]
  branch = "v0"
  path = "lib/prb-test"
  url = "https://github.com/PaulRBerg/prb-test"
