[submodule "lib/forge-std"]
  branch = "master"
  path = "lib/forge-std"
  url = "https://github.com/PaulRBerg/forge-std"
[submodule "lib/openzeppelin-contracts"]
  branch = "release-v4.8"
  path = "lib/openzeppelin-contracts"
  url = "https://github.com/OpenZeppelin/openzeppelin-contracts"
[submodule "lib/prb-test"]
  branch = "v0"
  path = "lib/prb-test"
  url = "https://github.com/PaulRBerg/prb-test"
